/* The content inside this CSS file has been licensed, please only use it when you have modified it and you're prohibited to resell courses, CSS files,... using this file */
/* This is a part of the app: Secure Browser from bTeam for Android (Free of charge) */
/* You can download the app for free to support me, just using this link https://bit.ly/sbbt-aff1707 and you can download for your Android phone via Amazon App Store or APK */

          html, body {
            height: 100%;
            margin: 0;
          }

          .search-full-height {
            display: flex;
            flex-direction: column; /* Center height */
            align-items: center;
            justify-content: center; /* Center width */
            margin: auto;
            height: 100%;
          }
